pandas
numpy
scikit-learn
matplotlib
seaborn
fastapi
uvicorn
joblib
flask
axios
pydantic
transformers
torch
accelerate

# If there are uncommitted backend changes, do one:
# git add .
# git commit -m "WIP backend changes"

# git fetch origin
# git checkout -b ai_ml origin/ai_ml   # only if ai_ml not present
# git checkout ai_ml                   # if already present
# git pull origin 

# python -m venv venv
# venv\Scripts\activate
# pip install -r ai_ml/requirements.txt
# cd ai_ml
# python api.py